---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?alerts=no&aqi=no&days=7&key=<WEATHER_API_KEY>&q=93721
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '9999999'
      Cdn-Proxyver:
      - '1.62'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/28/2026 10:10:06'
      Cdn-Edgestorageid:
      - '996'
      Cdn-Requestid:
      - a0d24788a6c5febea68801fe93d9b98e
      Cdn-Cache:
      - HIT
      Cdn-Status:
      - '200'
      Cdn-Requesttime:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Fresno","region":"California","country":"USA","lat":36.7377014160156,"lon":-119.783996582031,"tz_id":"America/Los_Angeles","localtime_epoch":1787911806,"localtime":"2026-08-28
        03:10"},"current":{"last_updated_epoch":1787911200,"last_updated":"2026-08-28
        03:00","temp_c":22.4,"temp_f":72.3,"is_day":0,"condition":{"text":"Patchy
        rain nearby","icon":"//cdn.weatherapi.com/weather/64x64/night/176.png","code":1063},"wind_mph":10.3,"wind_kph":16.6,"wind_degree":303,"wind_dir":"WNW","pressure_mb":1010.0,"pressure_in":29.81,"precip_mm":0.02,"precip_in":0.0,"humidity":43,"cloud":100,"feelslike_c":19.1,"feelslike_f":66.4,"windchill_c":22.4,"windchill_f":72.3,"heatindex_c":24.3,"heatindex_f":75.7,"dewpoint_c":9.4,"dewpoint_f":48.9,"vis_km":10.0,"vis_miles":6.0,"uv":0.0,"gust_mph":18.2,"gust_kph":29.2,"will_it_rain":0,"chance_of_rain":12,"will_it_snow":0,"chance_of_snow":0,"wetbulb_c":14.8,"wetbulb_f":58.6,"short_rad":0,"diff_rad":0,"dni":0,"gti":0},"forecast":{"forecastday":[{"date":"2026-08-28","date_epoch":1787875200,"day":{"maxtemp_c":33.9,"maxtemp_f":93.0,"mintemp_c":21.5,"mintemp_f":70.7,"avgtemp_c":28.0,"avgtemp_f":82.4,"maxwind_mph":12.5,"maxwind_kph":20.2,"totalprecip_mm":0.64,"totalprecip_in":0.03,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":31,"daily_will_it_rain":0,"daily_chance_of_rain":36,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain nearby","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":7.0,"avgwetbulb_c":16.4,"avgwetbulb_f":61.6,"maxwetbulb_c":19.1,"maxwetbulb_f":66.4},"astro":{"sunrise":"06:27
        AM","sunset":"07:33 PM","moonrise":"07:54 PM","moonset":"07:04 AM","moon_phase":"Full
        Moon","moon_illumination":98,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1787900400,"time":"2026-08-28
        00:00","temp_c":23.4,"temp_f":74.1,"is_day":0,"condition":{"text":"Patchy
        rain nearby","icon":"//cdn.weatherapi.com/weather/64x64/night/176.png","code":1063},"wind_mph":9.2,"wind_kph":14.8,"wind_degree":337,"wind_dir":"NNW","pressure_mb":1009.0,"pressure_in":29.8,"precip_mm":0.02,"precip_in":0.0,"snow_cm":0.0,"humidity":35,"cloud":100,"feelslike_c":19.9,"feelslike_f":67.8,"windchill_c":23.4,"windchill_f":74.1,"heatindex_c":24.2,"heatindex_f":75.6,"dewpoint_c":7.1,"dewpoint_f":44.8,"will_it_rain":0,"chance_of_rain":11,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":18.2,"gust_kph":29.2,"uv":0,"wetbulb_c":14.2,"wetbulb_f":57.6,"short_rad":0,"diff_rad":0,"dni":0,"gti":0},{"time_epoch":1787904000,"time":"2026-08-28
        01:00","temp_c":22.9,"temp_f":73.2,"is_day":0,"co[...]
