---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?alerts=no&aqi=no&days=7&key=<WEATHER_API_KEY>&q=00000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '9999994'
      Cdn-Proxyver:
      - '1.62'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '400'
      Cdn-Cachedat:
      - '08/28/2026 12:04:38'
      Cdn-Edgestorageid:
      - '1114'
      Cdn-Requestid:
      - 2aa952aa3340b87ffdfefd84378dcf09
      Cdn-Cache:
      - MISS
      Cdn-Status:
      - '400'
      Cdn-Requesttime:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":1006,"message":"No matching location found."}}'
  recorded_at: Fri, 28 Aug 2026 12:04:38 GMT
recorded_with: VCR 6.4.0
